* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Fredoka", sans-serif;
  text-decoration: none;
  list-style: none;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 14%;
}
.logo img {
  max-width: 100%;
  width: 150px;
  height: auto;
}
.navlist {
  display: flex;
  align-items: center;
}
.navlist a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 25px;
  transition: all 0.42s;
}
.navlist a:hover {
  color: #f379a7;
}
.top-icon {
  display: flex;
  align-items: center;
}
.top-icon a {
  color: #000;
  font-size: 28px;
  margin: 0 6px;
}
#menu-icon {
  color: #000;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 60px 14%;
}
.home {
  width: 100%;
  height: 100vh;
  background-color: #c2e0eb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}
.home-img {
  position: relative;
  width: 100%;
  height: auto;
}
.home-img img {
  max-width: 100%;
  width: 500px;
  height: auto;
  padding-top: 25px;
  animation: slide 3s infinite;
}
@keyframes slide {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  0% {
    transform: translateY(0px);
  }
}
.home-text h1 {
  color: #252525;
  font-size: 65px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.16;
  margin-bottom: 15px;
}
.home-text h4 {
  color: #252525;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.home-btn a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  background: #f379a7;
  padding: 15px 35px;
  border-radius: 30px;
  transition: all 0.42s;
}
.home-btn a:hover {
  background: #0d6efd;
}
header.sticky {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.42s;
}
.pro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2rem;
}
.pro-img img {
  max-width: 100%;
  width: 150px;
  height: 180px;
}
.pro-1 {
  display: flex;
  background-color: #fcdcea;
  padding: 20px 20px;
  gap: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.42s;
}
.pro-1:hover {
  background-color: #e4e6fe;
}
.pro-text h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.pro-text h5 {
  color: #000;
  font-size: 20px;
  margin-bottom: 90px;
}
.pro-text h6 {
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.42s;
}
.pro-text h6:hover {
  text-decoration: underline;
}
.main-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
}
.about-center {
  text-align: center;
}
.about-center h1 {
  color: #f379a7;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
.about-center h5 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 80px;
}
.about-img img {
  max-width: 100%;
  width: 550px;
  height: auto;
}
.about-text h4 {
  color: #f379a7;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 25px;
}
.about-text h2 {
  font-size: 30px;
  color: #000;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 20px;
}
.about-text p {
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}
.propuct-text {
  text-align: center;
}
.propuct-text h1 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.propuct-text p {
  max-width: 530px;
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px auto 40px;
}
.product-sector a {
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 600;
  margin-right: 25px;
  border: 2px solid #e5e5e5;
  padding: 10px 25px;
  border-radius: 21px;
  display: inline-flex;
  margin-bottom: 90px;
  transition: 0.42s;
}
.product-sector .sec-dif,
.product-sector a:hover {
  color: #fff;
  background-color: #f379a7;
  border: 2px solid #f379a7;
}
.main-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 2rem;
}
.main-pro {
  position: relative;
  padding: 40px 20px;
  background: #e4f6fe;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.42s;
}
.main-pro img {
  max-width: 100%;
  width: 180px;
  height: 200px;
  margin-bottom: 40px;
}
.rating a {
  color: #ffde00;
  font-size: 16px;
}
.main-pro h4 {
  color: #3b3a3a;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 8px 0 12px 0;
}
.main-pro h5 {
  color: #3b3a3a;
  font-size: 18px;
  font-weight: 600;
}
.main-pro:hover {
  transform: translateY(-6px);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.deal {
  width: 100%;
  height: 70vh;
  background-image: url(image/banner.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.main-deal h1 {
  color: #000;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.main-deal h4 {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 60px;
}
.main-deal h4 span {
  color: #f379a7;
}
.main-disc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  padding-top: 50px;
}
.dics-1 {
  position: relative;
}
.dics-img {
  overflow: hidden;
}
.dics-1 img {
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: all 0.42s;
}
.dics-text {
  position: absolute;
  top: 20%;
  right: 10%;
}
.dics-text h1 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dics-text h4 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.dics-text h4 span {
  font-size: 30px;
}
.dics-1 img:hover {
  transform: scale(1.1);
}
.trend-crnter {
  text-align: center;
}
.trend-crnter h1 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.trend-crnter p {
  max-width: 530px;
  color: #2d2d2d;
  font-size: 17px;
  line-height: 28px;
  margin: 0px auto 80px;
}
.blog-center {
  text-align: center;
}
.blog-center h1 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.blog-center p {
  max-width: 530px;
  color: #2d2d22;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px auto 50px;
}
.blog-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
}
.main-blog {
  overflow: hidden;
}
.main-blog img {
  max-width: 100%;
  width: 350px;
  height: auto;
  cursor: pointer;
  transition: all 0.42s;
}
.main-blog img:hover {
  transform: scale(1.1);
  filter: brightness(60%);
}
.main-blog h4 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 12px 0px 15px 0;
}
.main-blog h1 {
  color: #424242;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.main-blog .btn {
  background-color: #95b3b0;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.42s;
}
.main-blog .btn:hover {
  background: #f379a7;
}
.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 2rem;
}
.contact {
  width: 100%;
  background-image: url(image/contact.png);
}
.cont-info img {
  max-width: 100%;
  width: 150px;
  height: auto;
}
.cont-info h6 {
  max-width: 300px;
  color: #e4e4e4;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  margin: 25px 0;
  cursor: pointer;
  transition: all 0.42s;
}
.cont-info h6:hover,
.contact-icon i:hover {
  color: #f379a7;
}
.contact-icon i {
  color: #fff;
  font-size: 25px;
  margin-right: 15px;
  transition: all 0.42s;
}
.main-contact h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 22px;
  cursor: pointer;
  transition: 0.42s;
}
.main-contact h4:hover {
  color: #f379a7;
  text-decoration: underline;
}
.main-contact p {
  color: #e4e4e4;
  font-size: 18px;
  line-height: 34px;
  cursor: pointer;
  transition: all 0.42s;
}
.main-contact p:hover {
  color: #f379a7;
  transform: translateX(5px);
}
.cont-info3 img {
  max-width: 100%;
  width: 230px;
  height: auto;
  margin-top: 30px;
  cursor: pointer;
}
.end-text {
  padding: 20px;
  background-color: #4d4d4d;
  text-align: center;
}
.end-text p {
  color: #fff;
  font-size: 17px;
  font-weight: normal;
}
.end-text p span {
  color: #f379a7;
}
@media (max-width: 1365px) {
  header {
    padding: 10px 4%;
    transition: 0.3s;
  }
  section {
    padding: 60px 4%;
    transition: 0.3s;
  }
}
@media (max-width: 1065px) {
  .home-text h1 {
    font-size: 60px;
    line-height: 1.2;
    transition: 0.3s;
  }
  .home-text h3 {
    font-size: 20px;
    transition: 0.3s;
  }
}
@media (max-width: 1000px) {
  .home {
    grid-template-columns: 1fr;
    height: 100%;
    gap: 2rem;
  }
  .home-text {
    text-align: center;
    order: 2;
  }
  .home-img,
  .about-img,
  .about-text {
    text-align: center;
  }
  .main-about {
    grid-template-columns: 1fr;
  }
  .dics-text h1 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .dics-text h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .dics-text h4 span {
    font-size: 20px;
  }
  .dics-1 a {
    padding: 10px 10px;
    font-size: 15px;
  }
}
@media (max-width) {
  .main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
  }
}
@media (max-width: 550px) {
  .home-text h1 {
    font-size: 45px;
    line-height: 1.2;
    transition: 0.3s;
  }
  .home-text h4 {
    font-size: 20px;
    line-height: 25px;
    transition: 0.3s;
  }
  .home {
    gap: 1rem;
  }
  .about-text h2 {
    font-size: 25px;
  }
  .product-sector a {
    padding: 10px 20px;
    font-size: 13px;
    margin-right: 10px;
  }
  .main-deal h4 {
    line-height: 30px;
  }
}
@media (max-width: 910px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    height: 100vh;
    top: -1000px;
    left: 0;
    right: 0;
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
    background: #f379a7;
    transition: 0.3s;
  }
  .navlist a {
    display: block;
    margin: 20px 0;
    color: #fff;
    font-size: 20px;
    transition: 0.42s;
  }
  .navlist a:hover {
    color: #000;
    transform: translateY(-5px);
  }
  .navlist.open {
    top: 100%;
  }
}
